.body {
  position: relative;
}

.header {
  position: absolute;
  z-index: 4;
  top: 1.1em;
  right: 0;
}
.header__close {
  display: none;
}
.header__open {
  display: none;
}
.header__nav {
  background: linear-gradient(
    90deg,
    rgba(108, 108, 108, 0) 0%,
    rgba(0, 0, 0, 1) 12.5%
  );
  padding: 0 0.625em 0 9em;

  animation: nav_animation 60s linear 0s;
}
.nav__ul {
  display: flex;
  flex-flow: row nowrap;
}
.nav__li {
}
.nav__a {
  color: white;
  font-size: 0.75em;
  white-space: nowrap;
  letter-spacing: 0.12rem;

  padding: 0.5em 1.167em;
}
.nav__a:target {
  color: #393939;
}
.nav__a:hover {
  color: #39c;
}

.nav__span {
  padding-right: 16px;
}

.main {
}
.main__ppal {
  height: 100vh;
  width: 100%;

  position: relative;
  z-index: 0;

  background: url(../assets/kv.jpg) 50% 92.5% / 110%;

  animation: main_img_animation 60s linear 0s;
}
.main__ppal::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  animation: after_animation 60s ease-in-out 0s;
}
.main__h1 {
  width: 12em;
  height: 20em;

  position: absolute;
  z-index: 3;
  top: 1.5em;
  left: 1.5em;

  animation: opacity_animation 0.6s linear 0s;
}
.ppal__img--logo {
}
.ppal__img--center {
  width: auto;
  height: 100vh;

  position: absolute;
  z-index: 2;

  left: 50%;
  transform: translateX(-50%);

  animation: opacity_animation 2.5s linear 0s;
}
.ppal__img--text {
  width: 32em;
  height: 7em;

  margin-top: 2em;

  position: absolute;
  z-index: 3;
  top: 4em;
  right: 2em;

  animation: text_img_animation 60s linear 0s;
}
.main__streaming {
  width: 300px;
  height: 100px;

  position: absolute;
  z-index: 3;
  bottom: 55em;
  left: 0.5em;

  margin-left: 1.5em;

  animation: streaming_animation 60s linear 0s;
}
.streaming__img {
  margin-bottom: 0.5em;
}
.streaming__border {
  position: relative;
  z-index: 1;
}
.streaming__border::after {
  content: '';
  width: 100%;
  height: 100%;

  display: block;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid white;

  cursor: pointer;
  transition: all 1s;
}
.streaming__border:hover::after {
  background-color: rgba(0, 0, 0, 0);
  border-color: #39c;

  transition: all 1s;
}
.streaming__iframe {
  pointer-events: none;
}
.streaming__btn {
  width: 30px;
  height: 30px;
  margin: 0.75em;

  position: absolute;
  z-index: 4;
  bottom: 0;
  right: 0;
}
.main__news {
  width: 100%;
  height: 12em;
  background-color: black;
}
.news__container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.news__container--item {
  width: auto;
  height: auto;

  gap: 1.5em;
}
.news__a {
  background-color: white;
  color: black;

  height: 7.5rem;
  width: 22rem;

  font-size: 0.75em;
  padding: 1.25rem 1.5rem;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;

  transition: color 0.25s;
}
.news__a:hover {
  color: #39c;
  transition: color 0.25s;
}
.news__a--news {
  width: 7.5rem;
  height: 7.5rem;

  font-size: 1em;
  background-color: black;
  color: white;

  padding: 0;
  border: 1px solid white;

  align-items: center;
  justify-content: center;
}
.news__a--news:hover {
  color: white;
}
.news__p {
  text-align: start;
}
.news__time {
  display: block;
  width: 100%;

  font-weight: bold;
  padding-bottom: 0.5em;
  border-bottom: 1px solid black;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);

  display: none;

  position: absolute;
  z-index: 6;
  top: 0;
  left: 0;
}
.modal__iframe {
  width: 57.5rem;
  height: 32.375rem;

  position: fixed;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal__close {
  width: 100px;
  height: 100px;

  position: fixed;
  right: 4em;
  top: 3em;

  cursor: pointer;
}
.modal__svg {
  color: white;
}

.banner {
  background-color: #131313;
  padding: 1.5rem 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.banner__img {
  width: 13.75rem;
  height: auto;
}

.footer {
  background-color: black;
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  position: relative;
  z-index: 0;

  padding: 2.55em 2em;
  overflow: hidden;
}
.footer__background {
  background-color: black;

  position: absolute;
  z-index: -1;
  top: -30;
  left: -335px;

  animation: circle_animation 90s linear 0s infinite;
}
.footer__img {
}
.footer__ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.footer__li {
  color: white;
}
.footer__span {
  font-size: 0.65em;
  font-weight: bold;

  margin-right: 1em;

  padding-bottom: 1px;
  border-bottom: 1px solid white;

  cursor: default;
}
.footer__a {
}
.footer__svg {
  width: 25px;
  height: 25px;
}
.footer__wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.75em;
}
.wrapper__text {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 2em;
}
.wrapper__a {
  color: white;
  font-size: 0.875em;

  transition: color 0.25s;
}
.wrapper__a:hover {
  color: #636363;
  transition: color 0.25s;
}
.wrapper__p {
  font-size: 0.75em;
  color: #393939;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .main__h1,
  .ppal__img--text,
  .main__ppal::after {
    display: none;
  }

  .header {
    position: fixed;
    background-color: black;
    height: 100vh;
    top: 0;
  }
  .header__open {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    position: absolute;
    z-index: 5;
    top: 0.5em;
    right: 0.5em;
    padding: 1em;
  }
  .header__icon {
    width: 2em;
    height: 0.1875rem;
    background-color: white;
  }
  .header__nav {
    display: none;
    animation: none;
    width: 100%;
    height: 100%;
    padding: 4em 3em;
  }
  .nav__ul {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .nav__li {
    width: 10em;
    padding: 1em 0.125em;
    border-bottom: 1px dotted white;
  }
  .nav__a {
    width: 100%;
    font-size: 1.0625em;
    padding: 0;
  }
  .header__close {
    width: 50px;
    height: 50px;

    position: fixed;
    right: 1em;
    top: 1em;

    cursor: pointer;
  }
  .header__svg {
    color: white;
  }

  .main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  .main__ppal {
    animation: none;
    background: url('../assets/kv_min.jpg') center / cover;
    width: 100vw;
    height: calc((100vw * 1500) / 1059);
  }
  .main__streaming {
    position: static;
  }
  .ppal__img--center {
    animation: none;
    content: url('../assets/logo_sp.png');
    width: 55%;
    height: auto;

    top: 46.25%;
    left: 52.5%;
  }
  .main__streaming {
    background-color: black;
    width: 100%;
    height: auto;
    margin: 0;
    animation: none;
  }
  .streaming__img {
    padding: 2em 1em;
  }
  .streaming__iframe {
    width: 100vw;
    height: calc((100vw * 9) / 16);
  }
  .streaming__border::after {
    border: 0;
  }
  .streaming__border:hover::after {
    background: rgba(0, 0, 0, 0.6);
  }
  .streaming__btn {
    width: 10vw;
    height: auto;
    bottom: 0.5em;
    right: 0.5em;
  }
  .main__news {
    position: static;
    height: auto;
    padding: 2.5em 0 2em 0;
  }
  .news__container {
    flex-direction: column;
    gap: 1em;
  }
  .news__a {
    width: 90vw;
  }
  .news__a--news {
    height: auto;
    padding: 1em;
  }
  .news__a:hover {
    color: inherit;
  }

  .modal {
    display: block;
  }
  .modal__iframe {
    width: 100vw;
    height: calc((100vw * 9) / 16);
  }
  .modal__close {
    padding: 0.5em;
    top: 0;
    right: 0;
    width: 5rem;
    height: 5rem;
  }

  .banner {
    padding: 2em;
  }
  .banner__img {
    width: 9.375rem;
    height: auto;
  }

  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-bottom: 3.5em;
  }
  .footer__ul {
    justify-content: center;
    align-items: center;
    gap: 1.5em;
  }
  .footer__svg {
    width: 30px;
    height: auto;
  }
  .footer__wrapper {
    justify-content: center;
    align-items: center;
  }
  .wrapper__a:hover {
    color: white;
  }
  .wrapper__p {
    color: #808080;
  }
  .footer__background {
    left: 0;
    bottom: -125px;
  }
}

@keyframes main_img_animation {
  from {
    background: url(../assets/kv.jpg) 50% 0% / 110%;
    filter: blur(6em);
  }
  1.75% {
    filter: blur(0);
  }
  to {
    background: url(../assets/kv.jpg) 50% 92.5% / 110%;
  }
}

@keyframes after_animation {
  from {
    background-color: rgb(0, 0, 0, 0);
  }
  2% {
    background-color: rgb(0, 0, 0, 0);
  }
  3% {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@keyframes opacity_animation {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0.01;
  }
  to {
    opacity: 1;
  }
}

@keyframes text_img_animation {
  from {
    opacity: 0;
  }
  2.4% {
    opacity: 0;
  }
  2.5% {
    margin-top: 0;
    opacity: 1;
  }
  3% {
    margin-top: 2em;
  }
}

@keyframes nav_animation {
  from {
    opacity: 0;
  }
  2.4% {
    opacity: 0;
  }
  2.5% {
    padding: 0;
    opacity: 1;
  }
  3% {
    padding: 0em 0.625em 0em 9em;
  }
}

@keyframes streaming_animation {
  from {
    opacity: 0;
    margin-left: 0;
  }
  2.4% {
    opacity: 0;
  }
  2.5% {
    margin-left: 0;
    opacity: 1;
  }
  3% {
    margin-left: 1.5em;
  }
}

@keyframes circle_animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
