.header {
  position: absolute;
  z-index: 4;
  top: 1.5em;
  right: 0;
}
.header__nav {
  background-color: black;
  padding: 0 3em 0 9em;

  transition: padding .25s linear 1.4s;
}
    .nav__ul {
      display: flex;
      flex-flow: row nowrap;
    }
    .nav__li {
    }
    .nav__a {
      color: white;
      font-size: .85em;
      white-space: nowrap;

      padding: .5em 1em;
    }
    .nav__a:target {
      color: #393939;
    }
    .nav__a:hover {
      color: #39c;
    }


.main {}
.main__ppal {
  height: 100vh;
  width: 100%;

  position: relative;
  z-index: 0;

  background: url(../assets/kv.jpg) 50% 92.5% / 110%;

  animation: main_img_animation 60s linear;
}
.main__ppal::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);

  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
    .ppal__h1 {
      width: 12em;
      height: 20em;

      position: absolute;
      z-index: 3;
      top: 1.5em;
      left: 1.5em;

      animation: opacity_animation 1s ease-in;
    }
    .ppal__img--logo {}
    .ppal__img--center {
      width: auto;
      height: 100vh;

      position: absolute;
      z-index: 2;

      left: 50%;
      transform: translateX(-41%);

      animation: opacity_animation 2.5s ease-out;
    }
    .ppal__img--text {
      width: 32em;
      height: 7em;
      
      margin-top: 2em;

      position: absolute;
      z-index: 3;
      top: 5em;
      right: 2em;

      transition: margin .25s linear 1.4s;
    }


@keyframes main_img_animation {
  from {
    background: url(../assets/kv.jpg) 50% 0% / 110%;
    filter: blur(6em);
  }
  2.5% {
    filter: blur(0);
  }
  to {
    background: url(../assets/kv.jpg) 50% 92.5% / 110%;
  }
}

@keyframes opacity_animation {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0.01;
  }
  to {
    opacity: 1;
  }
}