@keyframes slideDown{
  from{
    background-position-y: 0%;
    filter: blur(6em);
  }
  2%{
    filter: blur(0);
  }
  to{
    background-position-y: 92.5%;
  }
}

@keyframes opacityBgIn{
  from, 50%{
    background-color: rgb(0, 0, 0, 0);
  }
  to{
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@keyframes opacityIn{
  from, 50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInRight{
  from, 50%{
    opacity: 0;
    margin-top: 0;
  }
  75%, to{
    opacity: 1;
    margin-top: 2em;
  }
}

@keyframes fadeInLeft{
  from, 50%{
    opacity: 0;
    padding-right: 0;
  }
  75%, to{
    opacity: 1;
    padding-right: 1em;
  }
}

@keyframes fadeInRight{
  from, 50%{
    opacity: 0;
    margin-left: 0;
  }
  75%, to{
    opacity: 1;
    margin-left: 1.5em;
  }
}

@keyframes rotate360{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}