@keyframes slider-hero{
  from{
    background: url(../assets/kv.webp) 50% 0% / 110%;
    filter: blur(6em);
  }
  2%{
    filter: blur(0);
  }
  to{
    background: url(../assets/kv.webp) 50% 92.5% / 110%;
  }
}

@keyframes after-entrance{
  from, 50%{
    background-color: rgb(0, 0, 0, 0);
  }
  to{
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@keyframes opacity-entrance{
  from, 50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes text-img-entrance{
  from, 50%{
    opacity: 0;
    margin-top: 0;
  }
  75%, to{
    opacity: 1;
    margin-top: 2em;
  }
}

@keyframes nav-entrance{
  from, 50%{
    opacity: 0;
    padding-right: 0;
  }
  75%, to{
    opacity: 1;
    padding-right: 1em;
  }
}

@keyframes streaming-entrance{
  from, 50%{
    opacity: 0;
    margin-left: 0;
  }
  75%, to{
    opacity: 1;
    margin-left: 1.5em;
  }
}

@keyframes rotate-circle{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}